<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patrimônio</ion-title>
    <ion-buttons slot="end" (click)="addPatrimonio()">
      <ion-button>Novo
        <ion-icon name="add" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> <!-- final do cabelaçalho -->

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let item of patrimonio">
      <ion-col class="bgc">{{item.numero}}</ion-col>
      <ion-col class="bgc">{{item.produto}}</ion-col>
      <ion-col class="bgc">{{item.valor}}</ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content><!-- final do conteúdo -->

