<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button></ion-back-button>
    <ion-title>mostrar-patrimonio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>

    <ion-item>
      <ion-label>{{id}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>{{numero}}</ion-label>
    </ion-item>

    <ion-item >
      <ion-label>{{produto}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>{{marca}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>{{serie}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>{{categoria}}</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>{{situacao}}</ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>
